# Target directories
bin/
bin-int/

# Make / Premake
Makefile
libs/Makefile
**/*.make

# Visual Studio Code
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters
.vs/*
.vscode


# MacOS
**/*.DS_Store

# ImGui
imgui.ini

# Submodules
libs/submodules/*

