# Target directories
bin/
bin-int/

# Linux
Makefile
libs/Makefile
**/*.make

# Windows
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters
.vs/

# MacOS
**/*.DS_Store

# ImGui
imgui.ini

# Submodules
libs/submodules/

.vscode
